{% load static %}
<style>
#footer
{
  flex-shrink: 0;
  padding:  20px;
  text-align: center;
  background:  #4e5245;
  margin-top: 20px;
 bottom: 0;
 width: 100%;
  
}
</style>
</br>
</br>
<!-- <div class="col text-center" style=>
  <a href="https://twitter.com/lake_affected" target="_blank" >
    <img src="{% static '/buttons/twitterbutton.png' %}" class="buttons">
  </a>
  <a href="https://audius.co/lakeaffected/playlist/best-of-lake-affected-a-chicago-playlist-39823" target="_blank" >
    <img src="{% static '/buttons/audiusbutton.png' %}" class="buttons"> </a>

</div> -->

<div class ="footer " id="footer">
  <script src="https://apis.google.com/js/platform.js" style="margin:0px;"></script>

  <!-- <div class="g-ytsubscribe" data-channelid="UCRHHD8s4OcerMk7Bu9rfoYw" data-layout="default" data-count="default"></div> -->
</div>
