
{% load static %}




<div class="embed-responsive embed-responsive-16by9 text-justify  py-4 px-5 px-sm-3 bg-light mx-auto" style="background-image: url('{% static 'images/head.png' %}')   " >
    <div class="col text-center">
    <div>
            <!-- <link href= "{% static '/css/stylesheet' %}" rel="stylesheet"> -->
            <p class="fw-bold" style="font-size: larger;">Latest: </p>
        </div>
        <p></p>
    <iframe width="420" height="315" src="" title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  </div>
</div>

